# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#General
.DS_Store
node_modules/

#Client
## dependencies
services/client/my-app/.pnp
services/client/my-app.pnp.js

## testing
services/client/my-app/coverage

## production
services/client/my-app/build

## misc
services/client/my-app/.env.local
services/client/my-app/.env.development.local
services/client/my-app/.env.test.local
services/client/my-app/.env.production.local
services/client/my-app/.eslintcache

services/client/my-app/npm-debug.log*
services/client/my-app/yarn-debug.log*
services/client/my-app/yarn-error.log*

#API
## build
services/api/shoeroom-api/dist-server
